* {
    font-family: 'Oswald', sans-serif;
    font-family: 'Signika', sans-serif;
    background-color: rgb(47, 211, 90);
    color: white;
}

/* body {
    display: flex;
    /* justify-content: center; */
/*  */

h1 {
    text-align: center;
    text-shadow: rgb(173, 230, 197) 1px 2px;
}
#searchForm {
    display: flex;
    justify-content: center;
    
}

h2 {
    border-top: 1px dashed black;
    text-align: center;
    
}
#searchResults {
    display: flex;
    flex-wrap: wrap;
    gap: 15px
}

.result {
    background-color: rgb(103, 176, 239);
    max-width: 125px;
    
}

.artistName {
    border: 2px solid orange;
    font-style: italic;
} 

.songName {
    font-size: 14px;
}