* {
    font-family: 'Oswald', sans-serif;
    font-family: 'Signika', sans-serif;
}



/* body {
    display: flex;
} */
#searchResults {
    display: flex;
    flex-wrap: wrap;
}

.result {
    border: 2px solid blueviolet;
}

.artistName {
    border: 2px solid orange;

} 